
.content {
    grid-area:c;
}
.contentImage {
    width: 100%;
    height: 200px;
}
.description {
    display: flex;
    padding-top: 20px;
}
.description div {
    color: #AAFAB7;
    font-family: Montserrat, sans-serif;
    margin-left: 30px;
}

.description div p:first-child {
    margin: 0;
    font-weight: bold;
}


