.nav {
    grid-area: n;
    background-color: black;
    border-radius: 0 10px 10px 0;
    padding: 25px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: auto;
    margin-right: auto;
}


.item {
    color: #AAFAB7;
    font-family: Montserrat, serif;
    font-weight: 500;
}
