body {
  color: white;
}

.app-wrapper {
  background-color: #0E0012;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 10px;
  grid-template-areas: 'h h'
                        'n c';
  width: 1200px;
  margin: auto;
  font-family: Montserrat, SansSerif;
}
.app-wrapper-content {
  grid-area: c;
}




.imageBack {
  height: 200px;
  border: 1px yellow solid;
  background: url("https://png.pngtree.com/background/20220715/original/pngtree-c4d-cyberpunk-city-background-picture-image_1623401.jpg");

}
